
.aboutUs{
    margin-left: 200px;
    margin-right: 200px;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
}

.content{
    margin-top: 50px;
    width: 70%;
}

.textType1{
    font-size: 48px;
}

.textType2{
    font-size: 18px;
    font-weight: 500;
}

@media only screen and (max-width:1020px){
    .content{
        margin-top: 50px;
        width: 100%
    }
}

@media only screen and (max-width:892px){
    .textType1{
        font-size: 35px;
    }
    .aboutUs{
        margin-left: 100px;
        margin-right: 100px;
        text-transform: uppercase;
        font-family: 'Montserrat',sans-serif;
    }
}

@media only screen and (max-width:600px){
    .textType1{
        font-size: 25px;
    }
    .textType2{
        font-size: 12px;
        font-weight: 500;
    }
    .content{
        margin-top: 50px;
        width: 110%
    }
    .aboutUs{
        margin-left: 100px;
        margin-right: 100px;
        text-transform: uppercase;
        font-family: 'Montserrat',sans-serif;
    }
}

@media only screen and (max-width: 400px){
    .aboutUs{
        margin-left: 50px;
        margin-right: 100px;
        text-transform: uppercase;
        font-family: 'Montserrat',sans-serif;
    }
}