.form__input {
  font-size: 15px;
  font-family: inherit;
  color: inherit;
  padding: 15px 20px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  transition: all 0.3s;
  margin-top: 40px;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 7px;
  display: block;
  transition: all 0.3s ease;
}

.email-input {
  margin-top: -500px !important;
}
.mobile-input {
  margin-top: -500px !important;
}
