.partial {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
}
.partial__img__left {
    width: 50px;
    align-self: center;
}

.partial__img__right{
    width: 50px;
    align-self: center;
}

.partial__img__left > img {
    width: 100%;
}

.partial__img__right > img {
    width: 100%;
}

.partial__img__left {
    grid-column: 1/2;
}

.partial__img__right {
    grid-column: 1/2;
}

.right {
    grid-column: 2/7;
    grid-row: 1/2;
}

.left {
    grid-column: 2/7;
}

.left > h3{
    text-align: left;
    font-size: 1.3rem;
    color: #13524a;
}

.left > p{
    text-align: left;
    font-size: 1rem;
    color: rgb(94, 94, 94);
}

.right h3{
    font-size: 1.3rem;
    text-align: left;
    color: #13524a;
}

.right p{
    text-align: left;
    font-size: 1rem;
    color: rgb(94, 94, 94);
}



@media screen and (min-width: 960px){
    .left > h3{
        text-align: left;
        font-size: 1rem;
        color: #13524a;
    }
    
    .left > p{
        text-align: left;
        font-size: 0.8rem;
        color: rgb(94, 94, 94);
    }
    
    .right h3{
        font-size: 1rem;
        text-align: left;
        color: #13524a;
    }
    
    .right p{
        text-align: left;
        font-size: 0.8rem;
        color: rgb(94, 94, 94);
    }
    
    .partial__img__left {
        grid-column: 1/2;
    }
    
    .partial__img__right {
        grid-column: 6/7;
    }
    
    .right {
        grid-column: 1/6;
        grid-row: 1/2;
    }
    
    .left {
        grid-column: 2/7;
    }
    .left > h3{
        text-align: left;
    }
    
    .left > p{
        text-align: left;
    }
    
    .right h3{
        text-align: right;
    }
    
    .right p{
        text-align: right;
    }
}


@media screen and (min-width: 1200px){   
    
    .left > h3{
        text-align: left;
        font-size: 1.3rem;
        color: #13524a;
    }
    
    .left > p{
        text-align: left;
        font-size: 1rem;
        color: rgb(94, 94, 94);
    }
    
    .right h3{
        font-size: 1.3rem;
        text-align: left;
        color: #13524a;
    }
    
    .right p{
        text-align: left;
        font-size: 1rem;
        color: rgb(94, 94, 94);
    }

    
    .partial__img__left {
        grid-column: 1/2;
    }
    
    .partial__img__right {
        grid-column: 6/7;
    }
    
    .right {
        grid-column: 1/6;
        grid-row: 1/2;
    }
    
    .left {
        grid-column: 2/7;
    }
    .left > h3{
        text-align: left;
    }
    
    .left > p{
        text-align: left;
    }
    
    .right h3{
        text-align: right;
    }
    
    .right p{
        text-align: right;
    }
    


}


