.Social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Social div a{
    font-size: 1.25rem;

}

.Social div a:hover {
    color: darkslategrey;
}