.hero{
    width: 100%;
    height: 100vh;
    background-color: #416d48;
    padding: 0 100px;
    font-family: 'lato';
    color: #fff;
}
.container{
    display: flex;
    align-items: center;
    height: 100vh;
}
.container-text{
    width:60%;
}
.container-img{
    width:100%;
    background: url(../../../assets/ServiceBanner.png) no-repeat center;
    background-size: contain;
    height: 100%;
    margin-left: 70px;
    transition: all 0.5s;
}
.hero-heading{
    font-size: 68px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
.hero-para{
    font-size: 17px;
    letter-spacing: 1.2px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #fff;
}
.btn-white{
    background-color: #fff;
    color: #416d48 !important;
}

@media only screen and (max-width:1000px) {
    .container-img{
        transform: scale(1.2);
    }
}
@media only screen and (max-width:900px) {
    .container-img{
        transform: scale(1.5);
    }
}
@media only screen and (max-width:800px) {
    .hero{
        width: 100%;
        height: 100vh;
        background-color: #416d48;
        padding: 0 50px;
        font-family: 'lato';
        color: #fff;
        padding-top: 50px;
    }
    .container{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        height: 70vh;
        width: 100%;
    }
    .container-text{
        width:100%;
        text-align: center;
        order: 2;
    }
    .container-img{
        width:50%;
        background: url(../../../assets/ServiceBanner.png) no-repeat center;
        background-size: contain;
        margin-left: 0;
        transition: all 0.5s;
        order: 1;
    }
}

@media only screen and (max-width:450px) {
    .container-img{
        transform: scale(2);
    }
    .hero-heading{
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .hero-para{
        font-size: 14px;
        letter-spacing: 1.2px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .btn-white{
        background-color: #fff;
        color: #416d48 !important;
        padding: 10px 20px !important;
    }
}

@media only screen and (max-width:350px) {
    .container-img{
        transform: scale(2.5);
    }
    .hero-heading{
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .hero-para{
        font-size: 12px;
        letter-spacing: 1.2px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .btn-white{
        background-color: #fff;
        color: #416d48 !important;
        padding: 10px 20px !important;
        font-size: 14px !important;
    }
}



