

  .navbarDesktopGreen {
  
    background-color: #13524a;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    /* transition: all 0.5s ease-in-out; */
    z-index: 999;
  }
  /* 
  .navbarWhite {
    background-color: white;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .navbarScroll {
    background-color: white;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    transition: all 0.5s ease-in-out;
  } */
  
  .navbarDesktop__main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
  }
  
  .navbarDesktop__logo {
    grid-column: 1/3;
  }
  
  .navbarDesktop__logo > img {
    width: 60%;
  }
  
  .navbarDesktop__main > li {
    list-style-type: none;
    text-decoration: none;
  }
  
  .navbarDesktop__main > li > a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
  }
  
  .navbarDesktop__main > li > a > b {
    font-weight: 400;
  }
  
  .navbarDesktop__home {
    grid-column: 8/9;
    align-self: center;
    justify-self: center;
  }
  
  .navbarDesktop__aboutus {
    grid-column: 9/10;
    align-self: center;
    justify-self: center;
  }
  
  .navbarDesktop__services {
    grid-column: 10/11;
    align-self: center;
    justify-self: center;
  }
  
  .navbarDesktop__team {
    grid-column: 11/12;
    align-self: center;
    justify-self: center;
  }
  
  .navbarDesktop__contact {
    grid-column: 12/13;
    align-self: center;
    justify-self: center;
  }
@media screen and (max-width:600px){
  .navbarDesktop__main {
    display: flex;
    flex-direction: column;
  }

  .navbarDesktop__logo{
    
    width: 30%;
margin-left:2em;  }
}


