@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 480px;
  width: 400px;
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.card__side {
  font-size: 20px;
  height: 480px;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: flex;
}
.card__side--front {
  background-image: linear-gradient(to right bottom, #186e63, #186e);
}
.card__heading {
  color: #186e63;
  font-size: 40px;
  margin: auto;
  transform: translateX(-10px);
}
.ct_text {
  color: #fff;
  margin-top: 20px;
}

.card__cta {
  display: flex;
  flex-direction: column;
  margin: 25px;
}
.card__price-box {
  text-align: center;
  color: #fff;
}
.card__price-only {
  font-size: 1.4rem;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

@media only screen and (max-width: 1050px) {
  .card {
    content: "";
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 480px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Lato", sans-serif;
    text-align: center;
    display: inline-block;
    vertical-align: center;
  }
  .card__side {
    content: "";
    font-size: 20px;
    height: 480px;
    transition: all 0.8s ease;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
}

@media only screen and (max-width: 600px) {
  .card {
    content: "";
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 400px;
    width: 320px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Lato", sans-serif;
    text-align: center;
    display: inline-block;
    vertical-align: center;
  }
  .card__side {
    content: "";
    font-size: 20px;
    height: 480px;
    transition: all 0.8s ease;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
}

@media only screen and (max-width: 600px) {
  .card {
    content: "";
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 100vw;
    width: 70vw;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Lato", sans-serif;
    text-align: center;
    display: inline-block;
    vertical-align: center;
  }
  .card__side {
    content: "";
    font-size: 20px;
    height: 480px;
    transition: all 0.8s ease;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
}

/* ------------------------- */
/* 
.form__input {
  font-size: 15px;
  font-family: inherit;
  color: inherit;
  padding: 15px 20px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  transition: all 0.3s;
  margin-top: 40px;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 7px;
  display: block;
  transition: all 0.3s ease;
}

.email-input {
  margin-top: -500px !important;
}
.mobile-input {
  margin-top: -500px !important;
} */
