.content{
    margin-top: 50px;
    width: 70%;
}

.textType1{
    font-size: 64px;
    padding-bottom: 30px;
}


.textType2{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}

.teampage {
    margin: 0 2rem;
}

.teampage__col {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.teampage__row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (min-width: 960px){
    .teampage {
        margin: 0 2rem;
    }
    
    .teampage__col {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .teampage__row {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    
}

@media screen and (min-width: 1200px){
    .teampage {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .teampage__col {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .teampage__row {
        display: flex;
        gap: 60px;
    }
}
