.topics__suggested {
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgba(204, 195, 195, 0.507);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.topics__suggested > h3 {
    flex: 1;   
    font-size: 1rem;

}

